{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgentCPQ</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/agents/agents_main.css' %}">
    <script src="{% static 'js/agents/agent_main.js' %}" defer></script>
</head>
<body class="white lighten-4">  
    <div class="chat-container">
        <div id="chat-box" class="chat-box"></div>
        <div class="chat-input-container">
        <div class="input-wrapper">
            <input type="text" id="user-input" placeholder="Create a Quote..." class="chat-input">
            <button id="send-btn" class="send-button">
                <i class="material-icons">send</i>
            </button>
        </div>
        </div>
    </div>
</body>
</html>