{% extends "admin/base.html" %}
{% load static %}

{% block title %}AgentCPQ Admin{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/agentcpq_admin.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block branding %}
  <h1 id="site-name" style="margin-bottom: 0;">
    <a href="{% url 'dashboard' %}?view=agents&new_chat=true">
      {% if tenant_logo_url %}
        <img src="{{ tenant_logo_url }}" style="height: 40px;" alt="Company Logo">
      {% else %}
        <img src="{% static 'img/logo-small.png' %}" style="height: 40px;" alt="AgentCPQ">
      {% endif %}
    </a>
  </h1><br>
  <p style="margin-top: 24px;">
    <a href="{% url 'cpq:get_company_information' %}" style="font-size: 16px; text-decoration: none; color: white !important;">← Back to AgentCPQ</a>
  </p>
{% endblock %}


{% block nav-global %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}
{% endblock %}
